<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Answer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    
</head>
<body style="background-color: gray;">
    
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Try Again</a>
    </nav>

    <div class="container" style="border: 1px white solid;
    margin-top: 50px;
    font-family: cursive;
    ">
        <div class="row">
            <div class="col">
                <h1 style="color: white;">Next palindrome</h1>
                <hr>
                <p>Wrong Input !! </p>
                <p>Type a number. </p>
            </div>
        </div>
    </div>
</body>
</html>